<div class="mt-8 w-full">
    <div class="surface-section px-4 py-8 md:px-6 lg:px-8">
        <div class="text-700 text-center">
            <div class="text-yellow-600 font-bold mb-3"><i class="pi pi-lightbulb"></i>&nbsp;Made by Renzo</div>
            <div class="text-900 font-bold text-5xl mb-3">Prueba Tech Fullstack</div>
            <div class="text-700 text-2xl mb-5">Un proyecto de prueba para demostrar habilidades en desarrollo web</div>
            <div class="mb-5">
                <a href="https://github.com/Renzott/haciendola-tech-frontend-test" target="_blank">
                    <i class="text-black-alpha-90 pi pi-github mr-1"></i><span class="text-700 mr-1">Source Code</span>
                </a>
            </div>
            <a routerLink="/dashboard">
                <button pButton pRipple label="Lista de Productos" icon="pi pi-bars" class="font-bold px-5 py-3 p-button-raised p-button-rounded white-space-nowrap" severity="contrast"></button>
            </a>
        </div>
    </div>
</div>