.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));

    @media screen and (min-width: 1280px) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media screen and (max-width: 680px) {
        grid-template-columns: 1fr;
    }
}

.paginator{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}